<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taidii.staffdevelopment.hq.dao.mapper.custom.AttendanceStudentdailyoverviewMapper2">
  <select id="selectOverStudentByIds" parameterType="Integer">
 	SELECT
	COUNT(DISTINCT student_id)
	FROM
	`attendance_studentdailyoverview`
    WHERE overview_date = #{date} 
    <if test="ids != null and ids.size()>0">
			AND student_id in 
			<foreach item="id" index="index" collection="ids" open="("
				separator="," close=")">
				#{id}
			</foreach>
	</if>
  </select>
</mapper>