<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taidii.staffdevelopment.dao.mapper.DevelopSelfEvaluationReflectionMapper">
  <resultMap id="BaseResultMap" type="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="self_evaluation_id" jdbcType="INTEGER" property="selfEvaluationId" />
    <result column="strengths_or_achievements" jdbcType="VARCHAR" property="strengthsOrAchievements" />
    <result column="evidence" jdbcType="VARCHAR" property="evidence" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modify, is_delete, self_evaluation_id, strengths_or_achievements, 
    evidence, time
  </sql>
  <select id="selectByExample" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from develop_self_evaluation_reflection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from develop_self_evaluation_reflection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from develop_self_evaluation_reflection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflectionExample">
    delete from develop_self_evaluation_reflection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into develop_self_evaluation_reflection (gmt_create, gmt_modify, is_delete, 
      self_evaluation_id, strengths_or_achievements, 
      evidence, time)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}, 
      #{selfEvaluationId,jdbcType=INTEGER}, #{strengthsOrAchievements,jdbcType=VARCHAR}, 
      #{evidence,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into develop_self_evaluation_reflection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="selfEvaluationId != null">
        self_evaluation_id,
      </if>
      <if test="strengthsOrAchievements != null">
        strengths_or_achievements,
      </if>
      <if test="evidence != null">
        evidence,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="selfEvaluationId != null">
        #{selfEvaluationId,jdbcType=INTEGER},
      </if>
      <if test="strengthsOrAchievements != null">
        #{strengthsOrAchievements,jdbcType=VARCHAR},
      </if>
      <if test="evidence != null">
        #{evidence,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflectionExample" resultType="java.lang.Long">
    select count(*) from develop_self_evaluation_reflection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update develop_self_evaluation_reflection
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModify != null">
        gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.selfEvaluationId != null">
        self_evaluation_id = #{record.selfEvaluationId,jdbcType=INTEGER},
      </if>
      <if test="record.strengthsOrAchievements != null">
        strengths_or_achievements = #{record.strengthsOrAchievements,jdbcType=VARCHAR},
      </if>
      <if test="record.evidence != null">
        evidence = #{record.evidence,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update develop_self_evaluation_reflection
    set id = #{record.id,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{record.gmtModify,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      self_evaluation_id = #{record.selfEvaluationId,jdbcType=INTEGER},
      strengths_or_achievements = #{record.strengthsOrAchievements,jdbcType=VARCHAR},
      evidence = #{record.evidence,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflection">
    update develop_self_evaluation_reflection
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="selfEvaluationId != null">
        self_evaluation_id = #{selfEvaluationId,jdbcType=INTEGER},
      </if>
      <if test="strengthsOrAchievements != null">
        strengths_or_achievements = #{strengthsOrAchievements,jdbcType=VARCHAR},
      </if>
      <if test="evidence != null">
        evidence = #{evidence,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taidii.staffdevelopment.entity.DevelopSelfEvaluationReflection">
    update develop_self_evaluation_reflection
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      self_evaluation_id = #{selfEvaluationId,jdbcType=INTEGER},
      strengths_or_achievements = #{strengthsOrAchievements,jdbcType=VARCHAR},
      evidence = #{evidence,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>