<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taidii.staffdevelopment.hq.dao.mapper.FinanceHqfinanceMapper">
  <resultMap id="BaseResultMap" type="com.taidii.staffdevelopment.hq.entity.FinanceHqfinance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hq_id" jdbcType="INTEGER" property="hqId" />
    <result column="gst_enabled" jdbcType="BIT" property="gstEnabled" />
    <result column="gst" jdbcType="DECIMAL" property="gst" />
    <result column="gst_credit_note_enabled" jdbcType="BIT" property="gstCreditNoteEnabled" />
    <result column="gst_credit_note" jdbcType="DECIMAL" property="gstCreditNote" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hq_id, gst_enabled, gst, gst_credit_note_enabled, gst_credit_note
  </sql>
  <select id="selectByExample" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finance_hqfinance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finance_hqfinance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finance_hqfinance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinanceExample">
    delete from finance_hqfinance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance_hqfinance (hq_id, gst_enabled, gst, 
      gst_credit_note_enabled, gst_credit_note)
    values (#{hqId,jdbcType=INTEGER}, #{gstEnabled,jdbcType=BIT}, #{gst,jdbcType=DECIMAL}, 
      #{gstCreditNoteEnabled,jdbcType=BIT}, #{gstCreditNote,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinance">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into finance_hqfinance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hqId != null">
        hq_id,
      </if>
      <if test="gstEnabled != null">
        gst_enabled,
      </if>
      <if test="gst != null">
        gst,
      </if>
      <if test="gstCreditNoteEnabled != null">
        gst_credit_note_enabled,
      </if>
      <if test="gstCreditNote != null">
        gst_credit_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hqId != null">
        #{hqId,jdbcType=INTEGER},
      </if>
      <if test="gstEnabled != null">
        #{gstEnabled,jdbcType=BIT},
      </if>
      <if test="gst != null">
        #{gst,jdbcType=DECIMAL},
      </if>
      <if test="gstCreditNoteEnabled != null">
        #{gstCreditNoteEnabled,jdbcType=BIT},
      </if>
      <if test="gstCreditNote != null">
        #{gstCreditNote,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinanceExample" resultType="java.lang.Long">
    select count(*) from finance_hqfinance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finance_hqfinance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hqId != null">
        hq_id = #{record.hqId,jdbcType=INTEGER},
      </if>
      <if test="record.gstEnabled != null">
        gst_enabled = #{record.gstEnabled,jdbcType=BIT},
      </if>
      <if test="record.gst != null">
        gst = #{record.gst,jdbcType=DECIMAL},
      </if>
      <if test="record.gstCreditNoteEnabled != null">
        gst_credit_note_enabled = #{record.gstCreditNoteEnabled,jdbcType=BIT},
      </if>
      <if test="record.gstCreditNote != null">
        gst_credit_note = #{record.gstCreditNote,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finance_hqfinance
    set id = #{record.id,jdbcType=INTEGER},
      hq_id = #{record.hqId,jdbcType=INTEGER},
      gst_enabled = #{record.gstEnabled,jdbcType=BIT},
      gst = #{record.gst,jdbcType=DECIMAL},
      gst_credit_note_enabled = #{record.gstCreditNoteEnabled,jdbcType=BIT},
      gst_credit_note = #{record.gstCreditNote,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinance">
    update finance_hqfinance
    <set>
      <if test="hqId != null">
        hq_id = #{hqId,jdbcType=INTEGER},
      </if>
      <if test="gstEnabled != null">
        gst_enabled = #{gstEnabled,jdbcType=BIT},
      </if>
      <if test="gst != null">
        gst = #{gst,jdbcType=DECIMAL},
      </if>
      <if test="gstCreditNoteEnabled != null">
        gst_credit_note_enabled = #{gstCreditNoteEnabled,jdbcType=BIT},
      </if>
      <if test="gstCreditNote != null">
        gst_credit_note = #{gstCreditNote,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taidii.staffdevelopment.hq.entity.FinanceHqfinance">
    update finance_hqfinance
    set hq_id = #{hqId,jdbcType=INTEGER},
      gst_enabled = #{gstEnabled,jdbcType=BIT},
      gst = #{gst,jdbcType=DECIMAL},
      gst_credit_note_enabled = #{gstCreditNoteEnabled,jdbcType=BIT},
      gst_credit_note = #{gstCreditNote,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>